{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}
{% block title %} Список номеров {% endblock %}
{% block sidebar %}
    {% include 'sidebar.html' with app_name='room' %}
{% endblock %}
{% block content %}
    <div class="container">
      <h1>Список номеров</h1>
        <a class="btn-add" href="{% url 'hotel_room:create' %} ">Добавить номер</a>
        <div class="col">
           {% for room in room %}
               <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">{{ room.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ room.price }} BYN/сутки</h6>
                    <p class="clip">{{ room.description }}</p>
                    <a href="{% url 'hotel_room:detail' room.pk %}" class="card-link">Подробнее</a>
                    <a href="{% url 'booking:create' room_id=room.pk %}" class="card-link">Забранировать</a>
                  </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
