{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}
{% block title %} Список номеров {% endblock %}
{% block sidebar %}
    {% include 'sidebar.html' with app_name='room' %}
{% endblock %}
{% block content %}
    <div class="container">
      <h1>Список номеров</h1>
        <a class="btn-add" href="{% url 'hotel_room:create' %} ">Добавить номер</a>
        <div class="col">
           {% for room in room %}
            <div class="card h-100 news">
              <div class="card-body">
                 <div class="card-header">
                    <img class="img-article-left" src="{{ room.photo }}" alt="">
                 </div>
                 <div class="card-header">
                    <h5>{{ room.name }}</h5>
                 </div>
                 <div class="card-header">
                    <small class="text-muted">{{ room.description }}</small>
                 </div>
                <h5 class="card-text">
                    {{ room.price }} BYN/сутки
                </h5>
                <div class="card-footer">
                    <a class="btn" href="{% url 'hotel_room:detail' room.pk %}" role="button">Подробнее</a>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
