{% extends "base.html" %}
{% load bootstrap5 %}
{% block content %}
    <div class="content-section">
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-wrapper">
            {% bootstrap_form form %}
        </div>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Регистрация</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Уже есть аккаунт? <a class="ml-2" href="{% url 'core:login' %}">Вход</a>
            </small>
        </div>
    </div>
{% endblock content %}